:root.theme-light {
  --background-color: #FFF1F7;
  --font-family: 'IBM Plex mono';
  --font-weight: normal;
  --background-text-color: #FF8DCB;
  --header-text-color: #353430;
  --header-color: #FFC2E6;
  --button-color: #353430;
  --button-hover: #32312D66;
  --text-color: #353430;
  --shadow-color: #DB00FF;

  
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #FFF1F7;
    --font-family: 'IBM Plex mono';
    --font-weight: normal;
    --background-text-color: #FF8DCB;
    --header-text-color: #353430;
    --header-color: #FFC2E6;
    --button-color: #353430;
    --button-hover: #32312D66;
    --text-color: #353430;
    --shadow-color: #DB00FF; 
  }
}


.theme-light .header {
  background-image: url(/images/cover-image-light.png);
}

.theme-light .header__icon_type_dark {
  display: none;
}


